<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">

    <title>{% if page.title %}{{ page.title }} | {% endif %}{{ site.title }}</title>
    <meta name="description" content="{{ site.description }}">

    <!-- CSS -->
    <link rel="stylesheet" href="{{ site.baseurl }}/css/poole.css">
    <link rel="stylesheet" href="{{ site.baseurl }}/css/lanyon.css">
    <link rel="stylesheet" href="{{ site.baseurl }}/css/syntax.css">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=PT+Serif:400,400italic,700%7CPT+Sans:400">
    <link rel="shortcut icon" href="{{ site.baseurl }}/img/favicon.ico">

    <!-- RSS -->
    <link rel="alternate" type="application/rss+xml" title="{{ site.title }}" href="{{ site.baseurl }}/feed.xml" />

    <!-- math -->
    <script src="http://cdn.mathjax.org/mathjax/latest/MathJax.js?config=TeX-AMS-MML_HTMLorMML" type="text/javascript"></script>


    <!-- Fancybox and dependencies -->
    <script type="text/javascript" src="http://code.jquery.com/jquery-latest.min.js"></script>
    <link rel="stylesheet" href="{{ site.baseurl }}/fancybox/source/jquery.fancybox.css" type="text/css" media="screen" />
    <script type="text/javascript" src="{{ site.baseurl }}/fancybox/source/jquery.fancybox.pack.js"></script>
    <link rel="stylesheet" href="{{ site.baseurl }}/fancybox/source/helpers/jquery.fancybox-buttons.css" type="text/css" media="screen" />
    <script type="text/javascript" src="{{ site.baseurl }}/fancybox/source/helpers/jquery.fancybox-buttons.js"></script>
    <script type="text/javascript" src="{{ site.baseurl }}/fancybox/source/helpers/jquery.fancybox-media.js"></script>
    <link rel="stylesheet" href="{{ site.baseurl }}/fancybox/source/helpers/jquery.fancybox-thumbs.css" type="text/css" media="screen" />
    <script type="text/javascript" src="{{ site.baseurl }}/fancybox/source/helpers/jquery.fancybox-thumbs.js"></script>
</head>
